/* JetBrains Mono Nerd Font (Regular) */
@font-face {
  font-family: "JetBrainsMonoNerd";
  src: url("/fonts/JetBrainsMono-Regular-Nerd.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/* 上图东观体：Regular */
@font-face {
  font-family: "DongGuanTi";
  src: url("/fonts/DongGuanTi-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/* 上图东观体：Bold */
@font-face {
  font-family: "DongGuanTi";
  src: url("/fonts/DongGuanTi-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

/* 上图东观体：Light */
@font-face {
  font-family: "DongGuanTi";
  src: url("/fonts/DongGuanTi-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
